[data-theme="dark"] {
  /* background-color: #15202B !important; */
  background-color: #111 !important;
  color: #eee;
}

[data-theme="dark"] a {
  color: #eee !important;
}

[data-theme="dark"] .fa-bars {
  color: #eee !important;
}



[data-theme="dark"] .bg-light {
  /* background-color: #202E3A !important; */
  background-color: #333 !important;
}

[data-theme="dark"] .bg-white {
  background-color: #000 !important;
}


[data-theme="dark"] .form-control {
  background-color: #333 !important;
  border: none !important;
  color: #eee;
}

[data-theme="dark"] .bg-black {
  background-color: #eee !important;
}

[data-theme="dark"] .fa-comment-alt {
  color:rgb(0, 164, 214) !important;
}


[data-theme="dark"] .fa-creative-commons-nd {
  color: #eee !important;
}