{% if user.is_authenticated == false %}

{% endif %}
<!-- The Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark position-sticky">
    <div class="container-fluid">

        <a class="navbar-brand" href="{% url 'home' %}">Eye Identification Attendence System</a>


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarText">

            <ul class="navbar-nav ml-auto ">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'student' %}">Student Registration</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'attendance' %}">Take Attendance</a>
                </li>

                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log out</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log in</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div style="width: 100%; height: 60px"></div>


<!-- ####################################################################################################### -->