{% extends 'base.html' %}
{% load static %}
{% block content %}



  <button type="button" name="button" class='btn btn-outline-dark btn-lg' id='start'>Start Video Capture</button>

  <div class="container-fluid mt-2">
    <video id="video" width="640" height="480" autoplay></video><br>
    <button type="button" data-toggle="modal" data-target="#image_model" class="btn btn-lg btn-dark" id="snap">Snap
      Photo</button>
  </div>


<button type="button" class="btn btn-secondary" data-dismiss="modal">Retake</button>
<form action="{% url 'attendance' %}" method="post" class="image_submit_form">
  {% csrf_token %}
  <input type="submit" value="Use Image" class="btn btn-primary" id="use_image">
</form>


<script src="{% static 'main/js/main.js' %} "></script>


{% endblock content %}