{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12 mb-5 d-flex flex-row justify-content-center">
      <button class="btn btn-primary m-3" type="button" onclick="openFun()">open</button>
      <button class="btn btn-primary m-3" type="button" onclick="photoFun()" id="ph">Snap Photo</button>
      <button class="btn btn-primary m-3" type="button" onclick="vidOff()">close</button>
    </div>
    <div class="col-md-6  embed-responsive embed-responsive-16by9">
      <video id="video" autoplay></video>
    </div>
    <div class="col-md-6 d-flex justify-content-center">
      <canvas id="canvas" width="255px" height="255px"></canvas>
    </div>
  </div>
  <div class="row mt-5">



    <table class="table table-dark rounded-lg">

     
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Student ID</th>
          <th scope="col">First Name</th>
          <th scope="col">last Name</th>
          <th scope="col">Level</th>
          <th scope="col">Department</th>
          <th scope="col">Time</th>
          <th scope="col">Count</th>
        </tr>
      </thead>
      <tbody>
        {% for at in attendence %}
        <tr>
          <th scope="row">{{at.id}}</th>
          <td>{{at.student.studentId}}</td>
          <td>{{at.student.firstName}}</td>
          <td>{{at.student.lastName}}</td>
          <td>{{at.student.level}}</td>
          <td>{{at.student.department}}</td>
          <td>{{at.time}}</td>
          <td>{{attendence.count}}</td>
        </tr>
        {% endfor %}
      </tbody>

    </table>
  </div>

  <form class='sendToServer' method="POST" data-url="{% url 'attendance' %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary float-right btn-lg">Yes</button>
  </form>
</div>








</body>

</html>

{% endblock content %}