{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<body>
    <!-- The Form to add new student-->
    <div
        style=" width: 45% ; height: 1000px ; margin-left: auto ; margin-right: auto ; background-color: whitesmoke; border-radius: 25px">
        <div style="height: 20px"></div>

        <div style="width: 90% ; height: 400px ; margin-left: auto ; margin-right: auto ">
            <div class="reg">
                <h1>Student Registration Form</h1>

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form|crispy}}
                    <button type="submit" class="btn btn-primary btn-lg" style="float: right ; margin-right: 50px">Add</button>
                </form>

            </div>
        </div>

    </div>

    <br><br>

    <!-- #################################################################################################### -->

    <!-- The footer-->

    <footer class="footer">
        <div class="inner-footer">
            <div class="quick-links">

                <ul>
                    <li class="quick-item"><a href="#">Home</a></li>
                    <li class="quick-item"><a href="#">Tutorials</a></li>
                    <li class="quick-item"><a href="#">Services</a></li>
                    <li class="quick-item"><a href="#">About Us</a></li>
                    <li class="quick-item"><a href="#">Contact Us</a></li>
                </ul>

            </div>
        </div>

        <div class="outer-footer">
            Copyright &copy; Web Coding Pro. All Rights Reserved
        </div>
    </footer>

    <!-- ####################################################################################################### -->


</body>

{% endblock content %}