<!DOCTYPE html> {% load static %}
<html lang='en'>

<head>
	<title>{{title}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="{% static 'main/css/all.min.css' %} ">
	<link rel="stylesheet" type="text/css" href="{% static 'main/css/fontawesome.min.css' %} ">
	<link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap.min.css' %} ">
	<link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'main/css/sBg.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'main/fonts/material-icon/css/material-design-iconic-font.min.css' %}">
	<!----------------------------------------------------------------->

	<!--bootstrap tag's-->

	<!-- container / justify-content / float / align-items -->
	<!-- primary / secondary / success / danger / warning / info / light / dark -->

	<!--bootstrap tag's-->

	<!--dark mood button-->

	<!--

		<link rel="stylesheet" type="text/css" href="css/dark-mode.css">
			<div class="custom-control custom-switch">
				<input type="checkbox" class="custom-control-input" id="darkSwitch" />
				<label class="custom-control-label" for="darkSwitch">Dark Mode</label>
			</div>
		<script type="text/javascript" src="js/dark-mode-switch.js"></script>

		-->

	<!--dark mood button-->

	<!----------------------------------------------------------------->
	<script type="text/javascript" src="{% static 'main/js/fontawesome.min.js' %} "></script>
	<script type="text/javascript" src="{% static 'main/js/jquery.min.js' %} "></script>
	<script type="text/javascript" src="{% static 'main/js/popper.min.js' %} "></script>
	<script type="text/javascript" src="{% static 'main/js/bootstrap.min.js' %} "></script>
	<script type="text/javascript" src="{% static 'main/js/main.js' %} "></script>
</head>
{% block content %}



{% endblock content %}
</html>